<div class="container">
    <div class="search-form mt-5">
        <div class="row">
            <form method="POST">
                <div class="form-group">
                    <label for="test-input">tu khoa</label>
                    <input type="text" class="form-control" id="test-input" aria-describedby="emailHelp"
                        placeholder="nhap tu khao ..." name="q">
                </div>
                <div class="form-group">
                    <label for="gender-input">tu khoa</label>
                    <select class="form-control" id="gender-input" name="gender">
                        <option value="">--chon gioi tinh</option>
                        <option value="nam">nam</option>
                        <option value="nu">nu</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


</div>